fastapi
uvicorn
sqlalchemy
async-exit-stack
async-generator
passlib[bcrypt]
python-jose[cryptography]
python-multipart
python-dotenv
asyncpg
sqlalchemy_utils
pydantic_settings
psycopg2-binary
psycopg2